.tour-view-main .title-style-2, .tour-view-main .schedule-block, .timeline-container .timeline-title, .timeline-container .timeline-point,
.tours-result-content .tours-list .slzexploore_tour .group-btn-tours, .tour-view-main .wrapper-btn {
    display:none;
}
.tour-view-main .entry-content.margin-top70 {
    margin-top:0;
}
.tour-view-main.padding-top {
    padding-top:30px;
}
.timeline-container .timeline:before, .timeline-container .timeline-point:before, .timeline-container .timeline-custom-col:before {
    background:none;
}
.homepage-default .group-title .sub-banner .boder {
    width:0 !important;
}
.homepage-banner-content .group-title .sub-banner {
    display:block;
    text-align:center;
}
.slz-shortcode .contact form.contact-form select, .slz-shortcode .contact form.contact-form textarea, .slz-shortcode .contact form.contact-form input {
    border:1px solid #BCCE00;
}
@media screen and (max-height: 650px) {
    .homepage-default .group-title {
        padding-top:150px;
    }
}
@media screen and (max-height: 570px) {
    .homepage-default .group-title {
        padding-top:200px;
    }
}