.tour-view-main .title-style-2, .tour-view-main .schedule-block, .timeline-container .timeline-title, .timeline-container .timeline-point,
.tours-result-content .tours-list .slzexploore_tour .group-btn-tours, .tour-view-main .wrapper-btn {
    display:none;
}
.tour-view-main .entry-content.margin-top70 {
    margin-top:0;
}
.tour-view-main.padding-top {
    padding-top:30px;
}
.timeline-container .timeline:before, .timeline-container .timeline-point:before, .timeline-container .timeline-custom-col:before {
    background:none;
}
.homepage-default .group-title .sub-banner .boder {
    width:0 !important;
}
.homepage-banner-content .group-title .sub-banner {
    display:block;
    text-align:center;
}